.booking-calendar {
    padding: 1rem;
  }
  
  .rbc-calendar {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .rbc-event {
    white-space: normal !important;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
  }
  
  .rbc-event-content {
    word-break: break-word;
  }
  
  @media (max-width: 768px) {
    .rbc-calendar {
      height: auto; /* Adjust height for mobile responsiveness */
    }
  }