.sidebar {
  width: 50px;
  background-color: #2c3e50;
  color: white;
  transition: width 0.3s ease;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar.open{
  width: 250px;
}

.sidebar.collapsed {
  width: 80px;
}

.logo {
  height: 40px;
  padding: 0.5rem;
  margin-bottom: 10px;
  margin-right: 1rem;
  transition: all 0.3s ease;
  background: #fff;
 
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.toggle-btn {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.sidebar .toggle-btn{
  cursor: pointer;
  color:#fff;
  display:unset;
  position: absolute;
  align-self: baseline;
  top:6.5rem;
  left: 1rem;
}
.sidebar.open .sidebar-header .toggle-btn{
  top: 5.5rem;
  left: 6rem;
  width: max-content;
}

.sidebar nav {
  flex-grow: 1;
  position: relative;
  top:2rem;
}



.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li a {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
  background-color: #34495e;
}

.sidebar nav ul li a i {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

.logout-btn {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100%;
  border-radius: 0;
}

.logout-btn:hover {
  background-color: darkred;
}

.logout-btn i {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

/* Collapsed state styles */
.sidebar.collapsed .sidebar-header h1,
.sidebar.collapsed nav ul li a span,
.sidebar.collapsed .logout-btn span {
  display: none;
}

.sidebar.collapsed img {
 background: #fff;
}

.sidebar.collapsed .sidebar-header {
  padding: 0rem 1rem 1rem 0.5rem
 }

.sidebar.collapsed .logo {
  height: 40px;
  margin-top:1rem;
  margin-bottom: 3rem;
}

.sidebar.collapsed .logout-btn .fas{
  padding-left:1rem;
  font-size:1.4rem;
}
h1{
  color:#fff;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
  }

  .sidebar.open {
    left: 0;
  }

  .sidebar-header {
    
    margin: 1rem 0 0 2.5rem;
    font-size: 0.75rem;
    padding-bottom: 0;
  }

  nav {
    padding-top: 0;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .top-bar {
    padding-left: 75px;
  }

  .top-bar .user-email{
    font-size: 9.5px;
  }

  .toggle-btn {
    display: none;
  }
  .sidebar .toggle-btn{
    display: none;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    left: 0.3rem;
    top: 2rem;
    z-index: 1001;
    background: white;
    border: none;
    font-size: 1.5rem;
    color: #ec4848;
  }
}